{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block heading %}

<div style="height: 100%;" class="container ">

    <div class="frm ">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{frm|crispy}}

        <button type="submit">edit</button>
    </form>
    </div>
</div> 

<!-- <div style="height: 650px;" class="container ">

    <div class="frm ">
        <form class="som" method="post" enctype="multipart/form-data"> 
            {% csrf_token %}
            
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter name">
            
            <label for="age">Age:</label>
            <input type="text" id="age" name="age" placeholder="Enter age">
            
            <label for="place">Place:</label>
            <input type="text" id="place" name="place" placeholder="Enter place">
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter email">
            
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" placeholder="Enter phone">
            
            <label for="address">Address:</label>
            <textarea id="address" name="address" placeholder="Enter address"></textarea>
            
            <label for="course">Course:</label>
            <select id="course" name="course">
                <option value="BCA">BCA</option>
                <option value="BBA">BBA</option>
                <option value="MBA">MBA</option>
                <option value="MCA">MCA</option>
            </select>
            
            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            
            <input type="file" id="image" name="image">
            <br>
            <button type="submit">Submit</button>
        </form> 
    </div>
</div>

</section> -->




{% endblock heading %}


