{% extends "index.html" %}
{% load static %}
{% block heading %}
<link rel="stylesheet" href="{% static '/css/list.css' %}">

{% comment %} <table>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Place</th>
      <th>Email</th>
      <th>phone</th>
      <th>Address</th>
      <th>Course</th>
      <th>Gender</th>
      <th>Image</th>
      <th>Edit / Delete</th>

    </tr>
   
    <tr>
        
      <td>{{i.name}}</td>
      <td>{{i.age}}</td>
      <td>{{i.place}}</td>
      <td>{{i.email}}</td>
      <td>{{i.phone}}</td>
      <td>{{i.address}}</td>
      <td>{{i.course}}</td>
      <td>{{i.gender}}</td>
      <td><img style="height: 50px; width: 70px;" src="{{i.image.url}}" alt=""></td>
      <td><a href="{% url 'edit' i.id %}">Edit</a>/ <a href="{% url 'delete' i.id %}">Delete</a></td>
     
    </tr> {% endcomment %}


<div style="height: 500px;" class="">
    <table  id="customers">
      <thead>
        <tr>
          <th>no</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Place</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">Course</th>
          <th scope="col">Gender</th>
          <th scope="col">Image</th>
          <th scope="col">Edit / Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for i in lit %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{i.name}}</td>
          <td>{{i.age}}</td>
          <td>{{i.place}}</td>
          <td>{{i.email}}</td>
          <td>{{i.phone}}</td>
          <td>{{i.address}}</td>
          <td>{{i.course}}</td>
          <td>{{i.gender}}</td>
          
          <td ><img style="height: 50px; width: 70px;" src="{{i.image.url}}" alt=""></td>
          <td class="clsz"><a href="{% url 'edit' i.id %}">Edit</a>/ <a href="{% url 'delete' i.id %}">Delete</a></td>
        </tr>
        
         
        {% endfor %}
      </tbody>
    </table>
</div>
  {% endblock heading %}